* {
  max-width: 1440px;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}
.test {
  max-width: 300px;
  min-height: 180px;
}
html, body {
  position: relative;
  overflow: auto;
}
.body-container {
  min-height: 100%;
  overflow: hidden;
}
.main {
  position: relative; 
  margin: 0 auto; 
  height: 100%; 
  min-height: 100%; 
  flex: 1 0 auto;
  padding-bottom: 100px;
}
.dot {
  color: #ff00ff;
}
.main::before {
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  content: "";
  left: -35%;
  top: 16%;
  z-index: -1;
  background: linear-gradient(45deg, #ff00ff, rgb(241, 221, 221));
  animation: object1 6s linear infinite;
}
@keyframes object1 {
  50% {
    left: -35%;
    top: 21%;

  }
}
.main::after {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  content: "";
  left: 50%;
  top: 0%;
  background: linear-gradient(45deg, #d400ff, rgb(255, 254, 254));
  animation: object2 6s linear infinite;
  z-index: -1;
}
@keyframes object2 {
  50% {
    left: 35%;
    top: 10%;
  }
}
.img-container1 {
  max-width: 300px;
  max-lines: 300px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  display: flex;
}
.img-container2 {
  max-width: 500px;
  max-lines: 500px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  display: flex;

}
.contact-btn {
  background-color: #dfdede;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.box {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.email {
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.logo {
  padding: 2px;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #9f9d9d;
  text-align: start;
}
.hello {
  text-transform: capitalize;
  position: relative;
  font-size: 25px;
  color: black;
}
.coderTitle{
  font-weight: 800;
  color: #9f9d9d;
  font-size: 55px;
}
.hello::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 35px;
  bottom: 2px;
  margin-left: 1px;
  background-color: #ff00ff;
}
.coder {
  font-size: 60px;
  font-weight: 800;
  color: #ff00ff;
}

h1 {
  font-size: 95px;
  font-weight: 900;
  letter-spacing: 5px;
  color: #9f9d9d;
  display: block;
  position: relative;
}
.presentation {
  text-align: justify;
  width: 95%;
}
.subpresentation{
  text-align: center;
}
.social {
  background: linear-gradient(45deg, #b7b6b7, rgb(255, 254, 254));
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
  padding: 20px;
  width: 100%;
  min-width: 100%;
  position: absolute;
  height: 100px;
  margin-top: -100px;
  clear: both;
  font-size: 25px;
}
.icon {
  color: #ff00ff;
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 8px;
  opacity: 0.75;
}

.headerdialog {
  text-transform: capitalize;
  color: black;
  text-align: center;
}
.subHeader {
  text-transform: capitalize;
  color: black;
  text-align: center;
}
.form {
  background-color: transparent;
}
.btn {
  color: #ff00ff;
  background-color: #9f9d9d;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 5px #ff00ff, 0 0 25px #ff00ff;
}
.btn:hover{
  box-shadow: 0 0 5px #ff00ff, 0 0 25px #ff00ff, 0 0 50px #ff00ff, 0 0 100px #ff00ff, 0 0 200px #ff00ff;
}
.needed {
  color: #ff00ff;
}

.message{
  width: 100%;
}

.success{
  font-size: 20px;
  color : green;
  transition: .3s;
  animation: buttons .3s linear;
  display: none;
}

@keyframes buttons{
  0%{
    transform:scale(0.1);
  }
  50%{
    transform:scale(0.1);
  }
  100%{
    transform:scale(1);
  }
}

.sdlcQuestion{
    font-weight: 500;
    color: black;
    font-size: 25px;

}

.sdlcPresentation{
  text-align: justify;
}
.dropdown {
   display: none;  
   display: block;
 }